/* Nav */
.navbar {
    margin-bottom: 0px !important;
}

.navbar .container-fluid {
    max-width: 1517px;
}

.navbar-brand {
    color: #3a2d2d !important;
}

.color a{
    color: #8a2be2 !important;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #8a2be2;
}

.button_nav {
    margin: 7px;
    padding: 5px 14px;
    color: black;
    border: 2px solid #8a2be2;
    border-radius: 17px;
}

.button_nav:hover{
   color: white;
   background-color: blueviolet;
}

/* Banner */
.banner {
    max-width: 1517px;
}
.text_banner img {
    width: 410px;
}

.text_banner {
    margin: 60px auto 0px auto;
    width: 400px;
}

.text_banner h1{
   font-size: 50px;
}

.button_banner {
    margin: 7px 0px;
    padding: 14px 25px;
    border: 1px;
    color: rgb(255, 255, 255);
    border-radius: 22px;
    background-image: linear-gradient(to right, #a005ed , #a897dd);
}

.text_banner h5 {
    display: inline;
    margin: 0px 45px;
}

.play_banner {
    margin: 20px auto 0px;
    padding-top: 8px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgb(255 253 253 / 20%), 0 6px 20px 0 rgb(68 68 68);
    background-image: linear-gradient(to right, #a005ed , #a897dd);
}

/* Informacion */

.fondo {
    background-color: #302a5d;
}

.text_info {
    margin: 84px 0px 0px 0px;
    padding: 15px;
    color: white;
}
 
.text_info h1{
    font-size: 50px;
}
 
.btn-primary {
    background-color: transparent;
    border: 2px solid #8a2be2;
    border-radius: 17px;
}

.btn-primary:hover {
    color: #fff;
    background-image: linear-gradient(to right, #a005ed , #a897dd);
    border-color: #8a2be2;
}

.section_card {
    margin: 84px 0px 84px 0px;
}

.card {
    background-color: #2b2353;
    margin: 14px auto;
    padding: 15px;
    border-radius: 10px;
    width: 350px;
    color: white;
}

.card i {
    font-size: 35px;
    color: #c976f3;
}

.card_info {
    background-image: linear-gradient(to right, #a005ed , #a897dd);
    margin: 14px auto;
    padding: 12px 15px;
    border-radius: 10px;
    width: 350px;
    color: white;
}

.card_info .link {
    margin-top: 30px;
}

.link a{
    color: white;
}

/* Section */
.container_section {
    max-width: 1517px;
}

.div_space {
    margin-top: 45px;
    margin-bottom: 45px;
}

.div_space img {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
    padding: 60px 0px;
    margin-left: 70px;
    width: 340px;
}

.center1 {
    margin: 190px 0px 0px 100px;
    width: 340px;
}

.button_section {
    padding: 14px 24px;
    color: black;
    background-color: white;
    border: 2px solid #8a2be2;
    border-radius: 17px;
}

.Portafolio {
    max-width: 1517px;
}

.title {
    margin: 15px;
} 

div .portfolio {
    margin: 30px auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media (max-width: 1200px) {

    .card {
        width: auto;
    }

    .card_info {
        width: auto;
        /* height: auto; */
    }

    .center {
        padding: 0px 0px;
        margin-left: 65px;
        width: 350px;
    }

    .center1 {
        margin: 150px 0px 0px 0px;
    }

}

@media (max-width: 992px) {

    .center {
        margin-left: 0px;
        width: auto;
    }

    .center1 {
        margin: 30px 0px 30px 0px;
        width: auto;
    }

    .card_info .link {
        margin-top: 0px;
    }
    
}

@media (max-width: 768px) {

    .text_banner {
        margin: 60px auto 30px auto;
    }

    .card_info {
        padding: 10px 15px;
    }

}

@media (max-width: 420px) {

    .text_banner {
        width: auto;
        text-align: center;
    }

    .text_banner img {
        width: 280px;
    }

    .text_banner h5 {
        display: block;
    }

}